@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --main-color: #9146ff;
    --body-bg: #0A0908;
    --box-bg: #221f1f;
    --text-color: #F2F4F3;

    --nav-height: 100px;
    --space-top: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}


.content_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form_container {
    width: 30%;
    height: 70%;

    background-color: var(--box-bg);
    border-radius: 2%;

    overflow: hidden;
}

.form_header_container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background: var(--box-bg);
}

.form_header_container h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--text-color);
}

.form_content_container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 20px;
}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 5px;

    background: #000;
    color: var(--text-color);
    font-size: 16px;

    border-bottom: 2px solid var(--main-color);
}

.button_container {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.button_container button {
    width: 48%;
    height: 40px;

    color: var(--text-color);
    cursor: pointer;
    background: var(--main-color);
    text-transform: uppercase;
    font-size: 16px;
}